html, body {
    background-color: #f5f5f5;
    height: 100%;
}

#mainBoard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainBoard h1 {
    margin-top: 3%;
}

.chessboard-63f37 {
    display: inline-block;
    margin: auto;
}

#myBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.highlight-fbomb {
    box-shadow: inset 0 0 5px 5px #0066ff;
}

.dot {
    height: 30%;
    width: 30%;
    background-color: rgba(96, 96, 96, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.active {
    display: inline-block;
}

.adjacency {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
    color: rgb(255, 30, 0);
    font-size: 5vmin;
    font-weight: bold;
}

.black {
    color: rgb(255, 203, 0);
}